{% extends "base.html" %}

{% block title %}
Sobre - Portal Saúde & Bem-Estar
{% endblock %}


{% block content %}

<section>

    <h1>Sobre o Portal</h1>

    <h2>Missão</h2>

    <p>
        O Portal Saúde & Bem-Estar foi desenvolvido
        para apresentar ferramentas educativas
        relacionadas à saúde, matemática e
        acompanhamento pessoal.
    </p>

</section>


<section>

    <h2>Nossa equipe</h2>

    <div class="equipe">

    <div class="membro">
        <div class="avatar">G</div>
        <h3>Geo</h3>
        <p>Desenvolvimento</p>
    </div>

    <div class="membro">
        <div class="avatar">E</div>
        <h3>Emi</h3>
        <p>Desenvolvimento</p>
    </div>

</div>

</section>


<section>

    <h2>Recursos</h2>

    <div>

        <h3>Calculadora de IMC</h3>

        <p>
            Calcula o IMC e apresenta sua classificação.
        </p>

    </div>


    <div>

        <h3>Percentual de gordura</h3>

        <p>
            Apresenta uma estimativa utilizando a
            fórmula de Deurenberg.
        </p>

    </div>


    <div>

        <h3>Matemática</h3>

        <p>
            Realiza operações matemáticas básicas.
        </p>

    </div>

</section>

{% endblock %}