<header>

    <nav>

        <div class="logo">
            Portal Saúde & Bem-Estar
        </div>

        <div class="menu">

            <a href="{{ url_for('index') }}">
                Início
            </a>

            <a href="{{ url_for('about') }}">
                Sobre
            </a>

            <a href="{{ url_for('login') }}">
                Login
            </a>

            <a href="{{ url_for('profile') }}">
                Perfil
            </a>

        </div>

    </nav>

</header>